/* Global and General style settings for the entire application */
:root {
  --app-bar-color: Ghostwhite;
  --app-window-bk: Gainsboro;
  --app-child-bk: Whitesmoke;
  --app-accessory: Lightblue;
  --app-font-primary: Black;
}

@font-face {
  font-family: sysFont;
  src: url(sysfont/webfonts/sysfont.woff2);
}

/* scrollbar options */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--app-bar-color);
}
::-webkit-scrollbar-thumb {
  background: var(--app-accessory);
}

h1,
h2 {
  font-size: 15px;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/background.png");
  background-repeat: repeat;
  font-family: sysFont, "Courier New", Courier, monospace;
}

/* Button Style */
button,
.namesubmit {
  border: none;
  background-color: var(--app-accessory);
  font-family: sysFont, "Courier New", Courier, monospace;
  font-style: italic;
}

/* Link Styles */
.underline:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Style For the OS navbar */
.osheader {
  display: flex;
  justify-content: space-between;
  width: auto;
  min-height: 20px;
  max-height: 20px;
  padding: 5px 15px 5px 0px;
  border-bottom-style: ridge;
  border-width: 5px;
  background-color: azure;
  font-size: 12px;
}

/* Site Title */
.sitetitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  scale: 60%;
}

.sitetitle > nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  font-size: 13px;
}

#userlogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

#systeminfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}

/* Desktop Icon Styles */
.desktop {
  padding: 40px 30px 25px 30px;
}
.shortcut {
  display: block;
  justify-content: left;
  color: var(--app-bar-color);
  align-items: center;
  text-align: center;
  width: 100px;
  height: 100px;
}
.shortcut > img {
  max-width: 48px;
  max-height: 48px;
  min-height: 48px;
  min-height: 48px;
  scale: 100%;
}
.shortcut > p {
  padding: 0;
  margin: 0;
}

.shortcut:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.167);
  border-style: dotted;
}

#splash {
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  position: absolute;
  z-index: 1;
}

/* the initial login window */
.popup {
  background-color: var(--app-window-bk);
  width: 300px;
  padding: 30px 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-style: ridge;
  display: none;
  text-align: center;
  z-index: 2;
  animation: fadein 1.5s;
}

@keyframes fadein {
  from {
    background-color: black;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
