@import "../styles.css";

#chat {
  visibility: hidden;
  border-style: ridge;
  border-width: 2px;
  overflow: auto;
  position: absolute;
  background-color: var(--app-window-bk);

  top: 200px;
  left: 400px;
}

#chatheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  cursor: grab;
  color: black;
  border-bottom-style: ridge;
  border-bottom-width: 2px;
  background-color: var(--app-accessory);
  height: 10px;
}

#chatBox {
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
  min-width: 400px;
  min-height: 400px;
  max-height: 400px;
  overflow-y: scroll;
  font-size: 12px;
  padding: 5px;
  margin-bottom: 50px;
}

#chatBox:nth-child(even) > div > p {
  background-color: black;
}

#systemMessages {
  font-size: 10px;
}

#userEntry {
  border-top: ridge;
  border-width: 2px;
  padding: 10px;
  position: absolute;
  width: 95%;
  bottom: 0;
}
#userEntry > form {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

#chatinput {
  width: 100%;
}
