@import "../styles.css";

#voice {
  visibility: hidden;
  height: 400px;
  width: 300px;
  border-style: ridge;
  border-width: 2px;
  overflow: auto;
  position: absolute;
  background-color: var(--app-window-bk);
  top: 200px;
  left: 400px;
}

#voiceHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  cursor: grab;
  color: black;
  border-bottom-style: ridge;
  border-bottom-width: 2px;
  background-color: var(--app-accessory);
  height: 10px;
}

#systemMessagesChat {
  font-size: 10px;
}

#muteBut {
  position: relative;
  justify-content: center;
  width: 100%;
  border: none;
  margin-bottom: 5px;
  background-color: red;
  color: whitesmoke;
  font-style: italic;
}

#userInVoice {
  font-size: 13px;
  margin-right: 20px;
  line-height: 0;
  display: inline-block;
}

#inVoice {
  font-size: 11px;
  padding: 10px;
  min-height: 300px;
  overflow-y: scroll;
}

.inVoice {
  font-size: 15px;
  padding: 2px;
  max-height: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

#voicecontrols {
  display: flex;
  justify-content: center;
}
